header {
  display: flex;
  padding: 0px 30px;
  justify-content: right;
  background-color: #0f0050;
  font-family: sans-serif;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  padding: 20px 30px;
  text-decoration: none;

  &:hover {
    color: #e3dede;
  }

  & a {
    text-decoration: none;
    color: #ffffff;
  }
}
