header {
  display: flex;
  padding: 0px 15px;
  justify-content: right;
  background-color: #0f0050;
}

.nav-links {
  display: flex;
  list-style: none;
}

.tab-link {
  text-decoration: none;
  color: white;
  display: flex;
  padding: 20px;
}

.nav-links a:hover {
  color: #000000;
  background-color: white;
}

.page-tab-highlight {
  color: #000000;
  background-color: rgb(255, 255, 255);
}
