.modal-bg {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 98;
  font-family: sans-serif;
}

.modal {
  top: -100px;
  background-color: white;
  position: relative;
  box-shadow: 1px 1px 5px gray;
  width: 350px;
  padding: 30px 10px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  border-radius: 10px;
  animation: animacao 1.5s;

  & p {
    margin: 0px;
    padding: 0px;
  }

  & .modal-buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-right: 10px;
    gap: 40px;
  }

  & p {
    text-align: center;
    font-size: 1.4em;
  }
}

@keyframes animacao {
  0% {
    scale: 0;
  }

  100% {
    scale: 1;
  }
}
