.input-component {
  display: flex;
  flex-direction: column;
}

.input-component .input-text {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px 15px;
  outline: none;

  &:focus {
    border: 2px solid #2684ff;
  }
}

.input-component label {
  color: #c3c3c3;
  font-size: 1.3rem;
}

.input-component .input-button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: scale 0.5s ease;

  &:hover {
    scale: 1.03;
  }

  &.reset {
    background-color: gray;
  }
  &.reset:hover {
    background-color: rgba(128, 128, 128, 0.9);
  }

  &.submit {
    background-color: #008245;
  }

  &:hover {
    background-color: rgba(0, 128, 0, 0.9);
  }
}

.input-select {
  outline: none;
}
