.form-edit {
  max-width: 241px;

}

.form-actions-edit {
  display: flex;
  flex-direction: row;
  gap: 7px;

  & a {
    text-decoration: none;
  }

  & input,
  button {
    width: 75px;
    height: 33px;
  }

  & .input-component .input-button {

    &.bg-success,
    &.bg-neutral {
      padding: 0px;
    }
  }
}