.form-registration {
  max-width: 241px;

}

.form-actions-registration {
  display: flex;
  flex-direction: row;
  gap: 7px;

  & a {
    text-decoration: none;
  }

  & div {

    & button,
    input {
      width: 75px;
      height: 33px;
    }
  }

}

#removePadding {
  & input {
    padding: 0px;
  }
}