.input-group {
  display: flex;
  gap: 40px;
  padding-bottom: 25px;

  & input {
    width: 320px;
  }
  & .input-select {
    width: 320px;
  }
}

.form {
  max-width: 1050px;
}

.form-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  & .input-component {
    & .input-button {
      padding: 10px 20px;
    }
  }
}
