.input-group {
  display: flex;
  gap: 40px;
  padding-bottom: 25px;
  flex-wrap: wrap;

  & input {
    width: 320px;
  }

  & .input-select {
    width: 320px;
  }
}

.form {
  max-width: 1050px;
}

.button-container {
  margin-top: 17px;
}

.form-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  & a {
    text-decoration: none;
  }
}
